@model WetherApp.Models.City
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @using (Html.BeginForm("GetCityFromApi","Home", FormMethod.Post))
    {
        <input type="text" placeholder="City" name="city" id="city" /> <input type="submit" /> @*@Html.ActionLink("Get city", "GetCityFromApi", "Home")*@

        if (ViewBag.Checking)
        {
        <div>
            Name: @Html.DisplayFor(m => m.name)
            Country: @Html.DisplayFor(m => m.country)
            Humidity: @Html.DisplayFor(m => m.humidity) %
            Tempeture: @Html.DisplayFor(m => m.temp) K
        </div>
        }
    }
</div>